# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/
ENV/

# =========================
# Django
# =========================

*.log
db.sqlite3
db.sqlite3-journal

# Django static/media
/static/
/media/

# =========================
# Environment / Secrets
# =========================

.env
.env.*
!.env.example

# =========================
# IDE / Editors
# =========================

.vscode/
.idea/
*.swp
*.swo

# =========================
# OS
# =========================

.DS_Store
Thumbs.db

# =========================
# Testing / Coverage
# =========================

.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/

# =========================
# Build / Packaging
# =========================

*.egg-info/
dist/
build/
.eggs/

# =========================
# Jupyter
# =========================

.ipynb_checkpoints/

# =========================
# Django migrations
# =========================

migrations/
migrations/__pycache__/

===========================
#static
===========================
node_modules/
/node_modules/